body {
  margin: 0;
  /* background-color: #0d1117; */
}
header{
    /* position: fixed; */
    background-color: #0d1117;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.vs{
    color: #c3d0e6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.header-left{
    display: flex;
    align-items: center;
    gap: 20px;
}
.vs-codeimg{
    height: 24px;
}

.nav-link{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #9ba3b4;;
}
.nav-link:hover{
    color: #c3d0e6;
    cursor: pointer;
}


.header-right{
    display: flex;
    align-items: center;
    gap: 10px
}

.header-right button {
    background-color: #0069ba;
    height: 30px;
    width: 100px;
    border: #c3d0e5;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    height: 32px;
}

.header-right input {
    width: 200px;
    height: 34px;
    background-color: #0d1117;
    border: 0.5px solid #31343a;
    border-radius: 5px;
}

.header-right img{
    height: 20px;
    width: 20px;
}


.main-continer{
    display: flex;
    padding-left: 300px;
    padding-right: 300px;
    flex-direction: column;
    background-color: #0d1117;
}

.title-first{
   display: flex;
   flex-direction: column;
   padding: 20px;
   gap: 20px;
}

.main-text{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 74px;
    text-align: center;
    color: #e6eefa;
}

.dwnldbtn-continer{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 20px;
    gap: 10px;
    background-color: #1b1f26;
    border-radius: 10px;
    margin-left: 450px;
    margin-right: 450px;

}
.dwnld-button{
    height: 50px;
    width: 300px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 18px;
    
    
}

.dnlwdbuttondesc-1{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 12px;
color: #e6eefa;
}
.dnlwdbuttondesc-2{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 11px;
color: #e6eefa;
}

.img-1{
    text-align: center;
    
}
.img-1 img{
    border-radius: 10px;
}
